<h1 id="saludo">Hola, {{usuario}}</h1>

<!-- Lista de alumnos -->
<ul class="alumnos">
  <li
    *ngFor="let alumno of alumnos"
    [id]="'alumno-'+alumno.id"
    class="alumno"
    (click)= "seleccionarAlumno(alumno.id)"
  >
    {{ alumno.first_name}}
  </li>
</ul>

<!-- Detalle del alumno seleccionado -->
<div id="detalle" *ngIf="alumnoSeleccionado.email else mensajeAlumnoNoSeleccionado">
  {{alumnoSeleccionado.first_name}} {{alumnoSeleccionado.last_name}}
</div>

<!-- Mensaje avisando al usuario de que debe seleccionar un alumno de la lista -->
<ng-template #mensajeAlumnoNoSeleccionado>
  <div id="mensaje">
    <!-- innerHTML -->
    Por favor, selecciona un alumno
  </div>
</ng-template>

<!-- Botón para emitir un mensaje al padre -->
<div>
  <input type="text" id="input-mensaje" [(ngModel)]="mensajeNuevo"/>
  <button id="boton-emitir" (click)="mandarMensaje()" >
    Enviar Mensaje
  </button>
</div>

